# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Bertin-dev\AndroidStudioProjects\FLUTTER\Nouveau dossier\smopaye_ios_flutter\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
